+main-menu(2)

//- .parallax-wrapper
+waterBackground

a(href="#" id="menu-toggle").toggle-mnu
	span

+header('Блог', 'Статьи', '#icon-blog_header', 'header-s-blog')

#next
.wrapper
	section.blog-main
		.container-blog
			aside.sidebar
				.article-name__background
				.article-name__btn
				ul.articles-name__list
					for post in posts
						li.articles-name__item
							.articles-name__txt= post.title
			main.content
				ul.articles__list
					for post in posts
						li.articles__item
							.article__heading= post.title
							time.article__date= post.date
							article.article
								.blog-article__text!= post.text




