include ../partials/_variables
include ../partials/_sprites
include ../mixins/_mixins

+main-menu(1)

//- .parallax-wrapper
+waterBackground

a(href="#" id="menu-toggle").toggle-mnu
	span

header.header.table-box.js-header.header-s-works

	.header__top-row
		ul.header-line-social-list
			each link, item in social_list
				li: a(target="_blank" href=link)
					i(class= item)

	.table-box__row
		.table-box__vertical-aligned

			.main-content-author-block.js-header__author
				.main-content-author-block__img
					img(src="/assets/img/developer.png", alt="Developer")
				.main-content-author-block__name
					p Садовский Иван
				.main-content-author-block__descr
					p Личный сайт веб разработчика
	
			svg.header__svg-bg.js-header__text
				use(xlink:href="#icon-works_header")
			.main-content-arrow-block
				i.fa.fa-chevron-down

			svg.header__svg-corner.header__svg-corner_left(preserveAspectRatio="none" viewBox="0 0 1000 400")
				use(xlink:href="#icon-about_bg_left")
			svg.header__svg-corner.header__svg-corner_right(preserveAspectRatio="none" viewBox="0 0 1000 400")
				use(xlink:href="#icon-about_bg_right")
			
section.s-works

	.main-content__work-block
		h2.h2 Мои работы
		svg.header__svg-bg.header__svg-bg-work
			use(xlink:href="#icon-works_header")

	.slider
		.slider__left
			.slider__display
				img.portfolio-preview.active(src="/assets/img/slider/work-1.png", alt="Портфолио-1")
				img.portfolio-preview(src="/assets/img/slider/work-2.png", alt="Портфолио-2")
				img.portfolio-preview(src="/assets/img/slider/work-3.png", alt="Портфолио-3")
				img.portfolio-preview(src="/assets/img/slider/work-4.png", alt="Портфолио-4")
			.slider__info
				.portfolio-projects
					.project.active
						.project__inner
							.title
								p.title__name Сайт школы онлайн образования
							.skills
								p.title__description html, css, javascript
							.slider__btn
								<a href="#" class="btn"><i class="fa fa-link"></i>Посмотреть сайт</a>
					.project
						.project__inner
							.title
								p.title__name Сайт школы онлайн образования (1)
							.skills
								p.title__description html, css, javascript
							.slider__btn
								<a href="#" class="btn"><i class="fa fa-link"></i>Посмотреть сайт</a>
					.project
						.project__inner
							.title
								p.title__name Сайт школы онлайн образования (2)
							.skills
								p.title__description html, css, javascript
							.slider__btn
								<a href="#" class="btn"><i class="fa fa-link"></i>Посмотреть сайт</a>
					.project
						.project__inner
							.title
								p.title__name Сайт школы онлайн образования (3)
							.skills
								p.title__description html, css, javascript
							.slider__btn
								<a href="#" class="btn"><i class="fa fa-link"></i>Посмотреть сайт</a>
		.slider__right
			.slider__controls

				.navigation-box.navigation-box__prev
					button(class="slider__controls-item slider__controls-item_prev")
					.portfolio-thumbnails
						.slider__thumbnail
							img(src="/assets/img/slider/work-2.png", alt="Портфолио-2")
						.slider__thumbnail
							img(src="/assets/img/slider/work-3.png", alt="Портфолио-3")
						.slider__thumbnail
							img(src="/assets/img/slider/work-4.png", alt="Портфолио-4")
						.slider__thumbnail
							img(src="/assets/img/slider/work-2.png", alt="Портфолио-2")
						.slider__thumbnail
							img(src="/assets/img/slider/work-3.png", alt="Портфолио-3")
						.slider__thumbnail.active
							img(src="/assets/img/slider/work-4.png", alt="Портфолио-4")
				
				.navigation-box.navigation-box__next
					button(class="slider__controls-item slider__controls-item_next")
					.portfolio-thumbnails
						.slider__thumbnail.active
							img(src="/assets/img/slider/work-4.png", alt="Портфолио-4")
						.slider__thumbnail
							img(src="/assets/img/slider/work-2.png", alt="Портфолио-2")
						.slider__thumbnail
							img(src="/assets/img/slider/work-1.png", alt="Портфолио-1")
						.slider__thumbnail
							img(src="/assets/img/slider/work-4.png", alt="Портфолио-4")
						.slider__thumbnail
							img(src="/assets/img/slider/work-2.png", alt="Портфолио-2")
						.slider__thumbnail
							img(src="/assets/img/slider/work-1.png", alt="Портфолио-1")

section.s-about.js-parallax.js-blur-bg#js-cover-target

	.works__container
		.works__leaf.works__leaf_1.js-leaf_1
		.works__leaf.works__leaf_2.js-leaf_2
		.works__leaf.works__leaf_3.js-leaf_3
		
		.main-content__work-block.about-title
			h2.h2 Что обо мне <br> говорят
			svg.header__svg-bg.header__svg-bg-work
				use(xlink:href="#icon-about_header")

		.works__reviews
			.reviews
				.reviews__list

					.reviews__item
						.review
							.review__img-wrapper
								img(src="/assets/img/dima.jpg", alt="Дмитрий").review__img
							.review__text
								| Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
								svg.review__text-quote
									use(xlink:href="#icon-quote")
							.review__author
								span.review__author-name
									| Ковальчук Дмитрий
								span.review__author-place
									| - основатель Loftschool

					.reviews__item
						.review
							.review__img-wrapper
								img(src="/assets/img/zar.jpg", alt="Зар").review__img
							.review__text
								| Этот код выдержит любые испытания. Только пожалуйста не загружайте сайт на слишком старых браузерах
								svg.review__text-quote
									use(xlink:href="#icon-quote")
							.review__author
								span.review__author-name
									| Зар Захаров
								span.review__author-place
									| - главный преподаватель

		.works__feedback
			svg(version='1.1', xmlns='http://www.w3.org/2000/svg', style='display: none')
				filter#blur
					fegaussianblur(stddeviation='6')
			.works__feedback-blur.js-blur
			.feedback
				span.title_feedback.feedback_header
					| Связаться со мной
				form.feedback__form
					input(type='text' name='name' placeholder='Имя' required='').feedback__input-text
					input(type='email' name='email' placeholder='Email' required='').feedback__input-text
					textarea(type='text' name='message' placeholder='Ваше сообщение' required='').feedback__textarea
					input(type='submit' value='Отправить' placeholder='Email').feedback__button.feedback__button_submit
					input(type='reset' value='Очистить' placeholder='Email').feedback__button.feedback__button_reset
