-
	var social_list = {
		'fa fa-vk' 					: 'http://www.vk.com',
		'fa fa-github-alt' 	: 'http://www.github.com',
		'fa fa-linkedin' 		: 'http://www.linkedin.com'
	}

-
	var author_frontend_skills = {
		'HTML5' 							: '85',
		'CSS3' 								: '75',
		'JavaScript & jQuery' : '85'
	}

-
	var author_backend_skills = {
		'PHP' 					: '65',
		'mySQL' 				: '75',
		'Node.js & npm' : '85',
		'Mongo.db' 			: '65'
	}

-
	var author_workflow_skills = {
		'Git' 	: '95',
		'Gulp' 	: '95',
		'Bower' : '95',
		'Webpack': '50'
	}

-
	var author_design_skills = {
		'Photoshop' 		: '90',
		'Illustrator' 	: '90',
		'Sketch' 				: '99',
		'InVision'			: '90'
	}

-
	var page_list = {
		'Мои работы' 	: './works.html',
		'Обо мне' 		: './about.html',
		'Блог' 				: './blog.html'
	}

-
	var page_list_footer = {
		'Мои работы' 	: './works.html',
		'Обо мне' 		: './about.html',
		'Блог' 				: './blog.html',
		'Авторизация'	: '/'
	}