/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1800px) {
	
	.s-about,
	.works__feedback-blur {
		background-image: url("/assets/img/works-bg.jpg");
	}

}

@media only screen and (max-width: 1200px) {
	/* */

	.s-about,
	.works__feedback-blur
	 {
		background-image: url("/assets/img/works-bg-4.jpg");
	}

	.works__leaf {
		display: none;
	} 

	.footer {
		&__wrapper {
			&-row {
				.footer__column {
					.footer__description,
					.footer__links-text {
						font-size: 14px;
					}
				}
			}
		}
	}

	.main-head {
		text-align: center;

		.button-auth {
			margin-right: 0;
		}
	}

	.s-about-author {
		&::before {
			background-size: cover;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	/* */
	
	.blog-main {
		.sidebar {
			margin: 0;
			box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);
			height: 100%;
			width: 270px;
			position: fixed;
			top: 0;
			z-index: 3;
			transform: translateX(-100%);
			transition: transform .5s;
		}

		.sidebar__active {
			transform: translateX(0%);
			transition: transform .5s;
		}
		.articles-name__list {
			top:0;
			z-index: 5;
			position: fixed;
			width: 270px;
		}
		.articles-name__item {
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
		.articles-name__txt {
			color: #fff;
			font-size: 16Px;
			&:hover {
				color: #fff;
			}
		}
		.articles-name__itemActive {
			border: none;
			font-weight: bold;
			opacity: 1;
		}
		.content {
			margin:0;
			padding:0 25px;
		}
		.article-name__background {
			position: absolute;
			background: #6c9c5a;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 5;
		}

		.article-name__btn {
			position: fixed;
			width: 60px;
			height: 60px;
			border-radius: 78px;
			background: #6c9c5a;
			z-index: 4;
			right: -25px;
			top: 50%;
			margin-top: -30px;
			cursor: pointer;
			box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);
			opacity: .4;
			transition: all .25s ease;
			&::before {
				content: '\f0c9';
				font-family: fontawesome;
				right: -17px;
				position: fixed;
				font-size: 16px;
				color: #fff;
				margin-top: 14px;
			}
			&-active{
				opacity: 1;
				&::before {
					content: '\f00d';
				}
			}
			&:hover {
				opacity: 1;
			}
		}

		.article__heading {
			padding-bottom: 16px;
		}

		.article__date {
			padding-bottom: 10px;
		}

		.article__text {
			line-height: 1.55;
		}

		.reviews__item {
			flex-basis: 100%;
		}
	}

	

	.footer {
		&__wrapper {
			&-row {
				.footer__column {
					.footer__description,
					.footer__links-text {
						font-size: 14px;
					}
				}
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	/* */
	
	.s-about,
	.works__feedback-blur
	 {
		background-image: url("/assets/img/works-bg-3.jpg");
	}

	.footer {
		margin-top: 0;

		&__wrapper {
			background-color: rgba(55, 62, 66, 1);

			&-row {
				.footer__column {
					width: 100%;
					text-align: center;
					margin-bottom: 20px;
					font-size: 14px;
				}
			}
		}
	}

	.main-menu {
		&__content {
			padding: 0;

			.main-menu__item {
				.main-menu__link {
					font-size: 49px;
				}
			}
		}
	}

	.header__svg-corner_right {
		fill: $light_1;
	}

	.s-about-author-content {
		width: 100%;
		text-align: center;

		&-s__header {
			font-size: 35px;
			margin: 0;
			margin-bottom: 20px;
		}

		&-s__img {
			padding: 0;
			margin-bottom: 20px;
			padding: 1%;
			max-width: 100%;

			img {
				max-width: 435px;
			}

			&-descr {
				margin: 0 auto;
			}
		}

		&-right {
			.s-about-author-content {
				&-s__header {
					margin-top: 20px;
					max-width: 100%;
				}

				&-s__descr {
					padding: 1%;
				}

				&-s__skills {
					&__frontend, &__backend, &__workflow {
						text-align: center;
						padding: 1%;

						span {
							text-align: center;
						}
					}

					&__container {
						margin: 3%;
					}
				}
			}
		}
	}

	.slider {
		height: auto;
		min-height: auto;
		text-align: center;

		&__left {
			float: none;
			width: 100%;

			.slider__display {
				position: static;
				height: 500px;

				img {
					max-height: 400px;
					top: 30%;
					left: 50%;
					transform: translate(-50%, -50%);
					right: auto;
					bottom: auto;
				}
			}

			.slider__info {
				height: 370px;
				position: relative;
				margin-bottom: 150px;

				.portfolio-projects {
					margin-bottom: 150px;
				}
			}
		}

		&__right {
			float: none;
			width: 100%;

			.slider__controls {
				position: static;
				height: 150px;
			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	/* */
	
	.s-about,
	.works__feedback-blur
	 {
		background-image: url("/assets/img/works-bg-2.jpg");
	}

	.s-contacts__info {
		left: 0;
		top: 0;
		transform: none;
		width: 100%;
	}

	.s-about-author-content {
		padding: 10px;
	}

	.main-menu {
		&__content {
			padding: 0;

			.main-menu__item {
				.main-menu__link {
					font-size: 35px;
				}
			}
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
	/* */

}

/*==========  Mobile First  ========== */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	/* */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	/* */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	/* */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	/* */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	/* */
}
