$accent: #4e8839;
$light_1: #F0EFE9;
$light_2: #EFEBE0;
$white: #fff;

$transition-time: 0.3s;
$transition-time_fast: 0.2s;
$transition-time_medium: 0.7s;
$transition-time_slow: 1.5s;

$base-font-size: 16px;
$max-footer-height: 170px;
